[core]
	editor = vim
	eol = lf
[user]
	name = wirekang
	email = wirekang@gmail.com
[pull]
	ff = only
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[push]
	autoSetupRemote = true

